<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <title>Create new article</title>
    <link rel="stylesheet" th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/summernote-bs4.css}">
</head>

<th:block layout:fragment="add_meta">
    <meta name="description" content="Manage article">
</th:block>

<body class="hold-transition sidebar-mini">

<div layout:fragment="content_header">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark" th:text="${isCreateAction} ? 'Create a new article' : 'Edit an article'">Create a new article</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item active" th:text="${isCreateAction} ? 'Create a new article' : 'Edit an article'">Create a new article</li>
            </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

<div layout:fragment="main_content">
    <div class="row">
        <div class="col-12">

            <!-- insert form following the user action (create | edit) -->
            <div th:replace="${isCreateAction} ? ~{fragments/article/create_form} : ~{fragments/article/edit_form}"></div>

        </div>
    </div>
</div>

<th:block layout:fragment="add_script">
    <script th:src="@{/js/summernote-bs4.min.js}"></script>
    <script th:src="@{/js/bs-custom-file-input.min.js}"></script>
    <script>
        $(function () {
            // Summernote
            $('.textarea').summernote()

            // init bs custom file input
            bsCustomFileInput.init();
        })
    </script>
</th:block>

</body>
</html>
