<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<head>

    <title>View all articles</title>

    <style>
        .img-on-table {
            width: 74px;
            height: 44px;
            object-fit: cover;
        }
    </style>

</head>

<th:block layout:fragment="add_meta">
    <meta name="description" content="View all articles">
</th:block>

<body class="hold-transition sidebar-mini">

<div layout:fragment="content_header">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">View all articles</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item active">View all articles</li>
            </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

<div layout:fragment="main_content">
    <div class="row">
        <div class="col-12">
            <!-- write your code here -->
            <table class="table table-sm">
                <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 60%">Title</th>
                    <th style="width: 10%">Category</th>
                    <th style="width: 5%">Thumbnail</th>
                    <th style="width: 20%" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article, state : ${articles}" th:object="${article}">
                    <td th:text="${state.count}">1.</td>
                    <td th:text="*{title}">Update software</td>
                    <td th:text="*{category.name}">Update software</td>
                    <td>
                        <img class="img-on-table" th:src="@{/images/{thumbnail}(thumbnail=*{thumbnail})}" alt="thumbnail">
                    </td>
                    <td class="text-center">
                        <a th:href="@{/admin/article/edit/{uuid}(uuid=*{uuid})}" class="btn bg-gradient-info btn-xs" style="width: 23px">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button data-toggle="modal" data-target="#modal-sm" data-th-id="*{id}"
                                class="btn bg-gradient-danger btn-xs btn-delete" style="width: 23px">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<th:block layout:fragment="add_script">
    <script>
        $(function () {
            console.log('hello')
        });
    </script>
</th:block>

</body>
</html>
