<table class="table table-striped" xmlns:th="http://www.thymeleaf.org">
    <thead>
    <tr>
        <th style="width: 10px">#</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, state : ${users}" th:object="${user}">
        <td th:text="${state.count}">2.</td>
        <td th:text="*{username}">Clean database</td>
        <td th:text="*{email}">Email</td>
        <td th:text="*{roles[0].name}">Role</td>
        <td th:text="*{status}">Status</td>
        <td>
            <button class="btn bg-gradient-info btn-xs btn-edit" th:data-uuid="*{uuid}" style="width: 23px">
                <i class="fas fa-edit"></i>
            </button>
            <button data-toggle="modal" data-target="#modal-sm" th:data-uuid="*{uuid}"
                    class="btn bg-gradient-danger btn-xs btn-delete" style="width: 23px">
                <i class="fas fa-trash"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>