<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>AdminLTE 3 | Starter</title>

</head>
<body class="hold-transition sidebar-mini">

<div layout:fragment="main_content">
    <div class="row">
        <div class="col-12">
            <!-- write your code here -->

            // Concatenation
            <p th:text="'Hello ' + ${username} + '!, Nice to meet you'">Paragraph</p>
            // Preprocessing
            <p th:text="'Hello __${username}__!, Nice to meet you'">Paragraph</p>
            // Literal Substitution
            <p th:text="|Hello ${username}, Nice to meet you|">Paragraph</p>


        </div>
    </div>
</div>

</body>
</html>
