<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org" th:fragment="script">

    <!-- Bootstrap 4 -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/js/adminlte.min.js}"></script>

</div>