<li class="nav-item has-treeview" xmlns:th="http://www.thymeleaf.org">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-user"></i>
        <p>
            User Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a th:href="@{/admin/user/manage}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Manage</p>
            </a>
        </li>
    </ul>
</li>