<li class="nav-item has-treeview" xmlns:th="http://www.thymeleaf.org">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-border-all"></i>
        <p>
            Category Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a th:href="@{/admin/category/create}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Category</p>
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/category}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>List Category</p>
            </a>
        </li>
    </ul>
</li>