<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Create Category</title>

</head>
<body class="hold-transition sidebar-mini">

<div layout:fragment="content_header">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">Create category</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item active"><a href="#">Category</a></li>
                <li class="breadcrumb-item active">Create</li>
            </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

<div layout:fragment="main_content">
    <div class="row">
        <div class="col-12">
            <form role="form" method="post"
                  th:object="${category}"
                  th:action="${isEdit} ? '/kshrd/admin/category/edit' : '/kshrd/admin/category/create'">
                <div class="form-group">
                    <label for="categoryName">Category name</label>
                    <input type="hidden" th:field="*{id}">
                    <input th:field="*{name}"
                           type="text"
                           class="form-control"
                           id="categoryName"
                           placeholder="Enter category name">
                    <span th:if="${#fields.hasErrors('name')}"
                          th:text="${#fields.errors('name').get(0)}"
                          class="text-sm-left text-danger">MESSAGE</span>
                </div>
                <button th:text="${isEdit} ? 'Save':'Create'" type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>





</div>

</body>
</html>
