<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Category List</title>

</head>
<body class="hold-transition sidebar-mini">

<div layout:fragment="content_header">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">List all categories</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item active">Categories</li>
            </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

<div layout:fragment="main_content">
    <div class="row">
        <div class="col-12">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category, state : ${categories}" th:object="${category}">
                    <td th:text="${state.count}">1.</td>
                    <td th:text="*{name}">Update software</td>
                    <td>
                        <a th:href="@{/admin/category/edit/{id}(id=*{id})}" class="btn bg-gradient-info btn-xs" style="width: 23px">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button data-toggle="modal" data-target="#modal-sm" data-th-id="*{id}"
                           class="btn bg-gradient-danger btn-xs btn-delete" style="width: 23px">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal confirmation -->
    <div th:replace="~{/fragments/modal :: modal_confirmation}"></div>

</div>

<th:block layout:fragment="add_script">
    <script>
        $('.btn-delete').on('click', function () {
            // set id to modal
            let id = $(this).attr('id')
            $('.btn-confirm-delete').attr('href', '/admin/category/delete/' + id)
        });
    </script>
</th:block>

</body>
</html>
