<form xmlns:th="http://www.thymeleaf.org" class="form-horizontal" method="post"
      th:action="@{/admin/article/edit/{uuid}(uuid=${uuid})}"
      th:object="${article}" enctype="multipart/form-data">

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input th:field="*{title}" type="text" class="form-control" id="inputEmail3" placeholder="Title">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <textarea th:field="*{description}" class="form-control" rows="3" id="inputPassword3" placeholder="Description"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-10">
            <select class="custom-select" id="category" th:field="*{category.id}">
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}">CATEGORY NAME</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10">
            <div class="input-group">
                <div class="custom-file">
                    <input type="hidden" th:field="*{thumbnail}">
                    <input name="file" type="file" class="custom-file-input">
                    <label class="custom-file-label">Choose image</label>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text" id="">Upload</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="editor" class="col-sm-2 col-form-label">Content</label>
        <div class="col-sm-10">
                        <textarea th:field="*{content}" class="form-control textarea" id="editor" placeholder="Place some text here"
                                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-info float-right ml-2 mb-4">Save</button>
    <button type="button" class="btn btn-default float-right">Cancel</button>
</form>